function Game.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
call Snake.new 0
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push pointer 0
return
function Game.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push pointer 0
call Game.setupUi 1
pop temp 0
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
push constant 3
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop this 1
push constant 1
pop this 2
goto IF_END2
label IF_FALSE2
push constant 0
pop this 1
label IF_END2
label IF_FALSE1
push local 0
push constant 131
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
push constant 4
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 2
pop this 1
push constant 2
pop this 2
goto IF_END4
label IF_FALSE4
push constant 0
pop this 1
label IF_END4
label IF_FALSE3
push local 0
push constant 132
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
push constant 1
eq
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 3
pop this 1
push constant 3
pop this 2
goto IF_END6
label IF_FALSE6
push constant 0
pop this 1
label IF_END6
label IF_FALSE5
push local 0
push constant 133
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 2
push constant 2
eq
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 4
pop this 1
push constant 4
pop this 2
goto IF_END8
label IF_FALSE8
push constant 0
pop this 1
label IF_END8
label IF_FALSE7
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push this 0
call Snake.isGameOver 1
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
call Game.printGameFinished 2
pop temp 0
push constant 0
not
pop local 1
label IF_FALSE9
push this 0
call Snake.isGameWon 1
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
push constant 8
call String.new 1
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 33
call String.appendChar 2
call Game.printGameFinished 2
pop temp 0
push constant 0
not
pop local 1
label IF_FALSE10
push pointer 0
call Game.move 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.move 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Snake.moveLeft 1
pop temp 0
label IF_FALSE0
push this 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Snake.moveUp 1
pop temp 0
label IF_FALSE1
push this 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Snake.moveRight 1
pop temp 0
label IF_FALSE2
push this 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Snake.moveDown 1
pop temp 0
label IF_FALSE3
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function Game.printGameFinished 0
push argument 0
pop pointer 0
push constant 0
push constant 20
call Output.moveCursor 2
pop temp 0
push argument 1
call Output.printString 1
pop temp 0
push constant 0
return
function Game.setupUi 0
push argument 0
pop pointer 0
push constant 0
push constant 12
push constant 511
push constant 12
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 0
call Snake.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
